.WeatherDetailsMain{
    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(143, 143, 143, 0.4);
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
    background: #FFFFFF;
    box-shadow : 0px 4px 32px rgba(143, 143, 143, 0.4);
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

.cityLocation{
    font-size: 20px;
    color: #505050;
}

.detailsDiv{
    display: flex;
    flex-direction:row;
}

.leftSide{
    width: 60%;
     padding-left: 5%;
     padding-top:58px;
}

.weatherIcon{
    color: #505050;
    font-size:100px;
}

.rightSide{
    width: 40%;
    padding-top: 30px;
}

.weatherDetailsIndividual{
    color: "#505050";
    margin-top: "-25px";
    font-size: "22px";
}

.commentSection{
    background: #FFFFFF;
    box-shadow : 0px 4px 32px rgba(143, 143, 143, 0.4);
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 15%;
    margin-right: 15%;
}